<video id="videoBG" onloadedmetadata="this.muted=true" preload="auto" autoplay muted loop>
  <source
    src="../../../assets/videos/90s Retro Bedroom Live Wallpaper for PC_Mac + FREE Download 4K Desktop Screensaver.mp4"
    type="video/mp4"
  />
</video>

<div class="container">
    <div class="row">
        <div class="col-8 align-self-start">
            <a href="" class="name">nassim salhi</a>
        </div>
        <div class="col-2">
            <a href="https://github.com/Salhi21" target="_blank" class="">
                <svg viewBox="-5 -5 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14 0a14 14 0 00-4.43 27.28c.7.13.96-.3.96-.66L10.53 24c-3.52.65-4.43-.86-4.71-1.65-.16-.4-.84-1.64-1.43-1.97-.5-.27-1.2-.91-.02-.93 1.1-.02 1.89 1.02 2.15 1.43 1.26 2.12 3.27 1.53 4.08 1.16.12-.91.49-1.52.89-1.87-3.12-.35-6.37-1.56-6.37-6.91 0-1.53.54-2.79 1.43-3.77a5.03 5.03 0 01.14-3.7s1.18-.38 3.86 1.43a13 13 0 017 0c2.67-1.82 3.85-1.44 3.85-1.44.77 1.93.27 3.36.13 3.71.9.98 1.44 2.22 1.44 3.77 0 5.37-3.27 6.56-6.39 6.9.51.44.95 1.28.95 2.6l-.02 3.85c0 .36.26.8.96.66A14.02 14.02 0 0028 14 14 14 0 0014 0z"
            fill="#ffffff"
          />
        </svg>
            </a>
        </div>
        <div class="col-2">
            <a download href="../../../assets/Salhi Nassim.pdf" class="">
                <svg viewBox="-2.5 -2.5 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9h-4V3H9v6H5l7 8zM4 19h16v2H4z" fill="#ffffff" />
        </svg>
            </a>
        </div>
    </div>
</div>

<embed src="../../../assets/Mr.Kitty - After Dark (chorus).mp3" loop="true" autostart="true" width="2" height="0">
