/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
html,
body {
    overflow: hidden;
    background-image: url("./assets/wp4809768-retro-4k-hd-wallpapers.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
